<div class="container">
  <div class="row panel panel-info">
      <div class="panel-heading">About Qwk.io</div>
        <div class="panel-body">
          Qwk.io is the quickest, easiest way to conduct surveys. If you just want to ask a bunch of people some questions and
          don’t need fancy templates or crosstabs, and don’t want to be re-billed $20/month until your great grandchildren get
          a notarized letter from the Canadian ambassador to Fiji, Qwk.io is the service for you.
        </div>
  </div>
</div>
