<header>
   <div id="header">
      <div class="centered">
         <div class="logospace">
            <div id="logo">
               <a href="/"><img class="logo" src="/img/logo.png" /></a>
            </div>
         </div>
         <div id="navigation">
           <%= render :partial => 'layouts/menu' %>
         </div>
      </div>
   </div>
</header>
<div id="main" role="main">
   <div class="centered">
      <div id="admin-survey">
         <div class="survey-link">
            <h1>About Qwk.io</h1>
            <p>
              Qwk.io is the quickest, easiest way to conduct surveys. If you just want to ask a bunch of people some questions and
              don’t need fancy templates or crosstabs, and don’t want to be re-billed $20/month until your great grandchildren get
              a notarized letter from the Canadian ambassador to Fiji, Qwk.io is the service for you.
            </p>
         </div>
      </div>
   </div>
</div>
