<div class="container">
   <div class="panel panel-info">
      <div class="panel-heading">Example 1</div>
      <div class="panel-body">
<small><pre>
Customer Satisfaction: Qwk.io

Please answer the following questions based on your experience creating and publishing surveys using Qwk.io. If you've been using the system for a while, please focus on your most recent experiences (we're improving quickly!)

1) How many surveys have you published with Qwk.io?
___

2) What methods have you used to send your public link?
[ ] Email
[ ] Facebook
[ ] Twitter
[ ] Web page

3) On the whole, how happy are you with Qwk.io?
( ) Not at all
( ) Somewhat
( ) Very
( ) Super incredibly satisfied

4) Should we consider more elaborate question types?
[ ] Yes
[ ] No

6) Once we exit beta, would you be willing to pay $1 per survey for the service?
( ) Definitely not
( ) Maybe, but doubtful
( ) Not sure
( ) Probably
( ) Yes, yes, positively yes!

7) What thoughts do you have for how we could improve Qwk.io?
___
___
</pre></small>
      </div>
      <div class="panel-heading">Example 2</div>
      <div class="panel-body">
<small><pre>
Reunion Dinner

Hi, everyone! I can't believe it's already been 10 whole days since we graduated! I'm planning a reunion dinner and wanted to get your thoughts on where we should hold it. Please send this link to anyone not on the mailing list.

1) What type of food should we consider?
[ ] Burgers & Pub food
[ ] Chinese
[ ] French
[ ] Indian
[ ] Insects
[ ] Italian / Pizza
[ ] Thai
[ ] Vegetarian

2) How likely are you to attend if we do it Saturday the 21st?
( ) Can't make it
( ) Maybe, but doubtful
( ) Probably
( ) You betcha!

3) How likely are you to attend if we do it Saturday the 28th?
( ) Can't make it
( ) Maybe, but doubtful
( ) Probably
( ) You betcha!

4) Who should we draft for a speech?
( ) John
( ) Spence
( ) Molly
( ) Anyone but Spence

5) Are there any particular restaurants you'd like us to consider?
_____

6) Please list any dietary restrictions or other thoughts you have about the reunion dinner:
___
___
</pre></small>
      </div>
      <div class="panel-heading">Example 3</div>
      <div class="panel-body">
<small><pre>
Uniform Choice

Hello, Big League Leaguers! It's time for another year with your favorite co-ed Ultimate Frisbee team! After the complaints about the uniforms last year (I still don't see what's wrong with green and pink), I decided to do a quick survey to figure out how to best nattily attire our noble team this year. Please take a moment to let me know your thoughts; if you don't answer, you can't complain.

1) What should the primary uniform color be?
( ) Red
( ) Pink
( ) Mauve
( ) Purple
( ) Magenta
( ) Fuchsia

2) What color should the highlights be (collar, stripes, numbers)?
( ) Green
( ) Yellow
( ) Yellow-green
( ) Forest

3) What dates are you planning to attend?
[ ] April 3
[ ] April 10
[ ] April 17
[ ] April 23
[ ] April 24
[ ] May 1
[ ] May 8
[ ] May 11 (night)
[ ] May 18

4) Are you interested in being contacted to arrange carpools?
( ) Yes
( ) No

5) If so, please let me know who you are (otherwise the survey is anonymous)
___

6) Any other thoughts / suggestions?
___
___
</pre></small>
    </div>
  </div>
</div>
