<div class="jumbotron">
  <div class="container">
    <div class="row text-center">
      <h1>Qwk.io!</h2>
      <p>"Create your survey in the world's easiest markup."</p>
    </div>
    <hr>
    <div class="row text-center">
      <div class="col-lg-offset-1 col-lg-2 col-md-offset-1 col-md-2  col-xs-offset-1 col-xs-5">
        <p>1. Create</p>
        <img src="/img/create.png">
      </div>
      <div class="col-lg-offset-1 col-lg-2 col-md-offset-1 col-md-2 col-xs-offset-1 col-xs-5">
        <p>2. URLs</p>
        <img src="/img/link.png">
      </div>
      <div class="col-lg-offset-1col-lg-2 col-md-offset-1 col-md-2 col-xs-offset-1 col-xs-5">
        <p>3. Take</p>
        <img src="/img/take.png">
      </div>
      <div class="col-lg-offset-1 col-lg-2 col-md-offset-1 col-md-2 col-xs-offset-1 col-xs-5">
        <p>4. Result</p>
        <img src="/img/result.png">
      </div>
    </div>
    <hr>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-5  panel panel-info">
      <div class="row panel-heading">Step 1: Create</div>
      <div class="row panel-body">Create your survey in markup and submit.</div>
      <%= form_tag(surveys_url) do %>
      <textarea class="form-control" name="survey" rows="22" wrap="soft">
Enter your survey title here
Any text you enter here will display below the title.
1) Example multiple choice question
[ ] One
[ ] Two
[ ] Three
2) Example radio list question
( ) One
( ) Two
( ) Three
3) Example rating between 1-5
(1) (2) (3) (4) (5)
4) Example text response question
___
5) You can do a multi-line textbox too!
___
___
6) Example dropdown question
< > One
< > Two
< > Three
    </textarea><br>
      <button type="submit" class="btn btn-default">Create</button><% end %><br>
    </div>
    <div class="col-md-offset-1 col-md-5 panel panel-info">
      <div class="row panel-heading">Step 2: URLs</div>
      <div class="row panel-body">After your survey has been created. You will be given two URLs.</div>
      <div class="row panel-body"><strong>Public URL:</strong> Share this link with anyone you want to answer your survey.  Be sure to check over your survey first to make sure everything looks okay.
      If anything's wrong, just hit the back button and create another one. </div>
      <div class="row panel-body"><strong>Private URL:</strong> Keep this link private!  It will allow you to download your survey results, see how many people have responded, or close the survey. <u>DO NOT</u> lose this link!  Since Qwk.io is completely anonymous, there's no way to get it back if you lose it.
      </div>
    </div>
  </div>
</div>
