<div id="main" role="main">
   <div class="centered">
      <div id="admin-survey">
         <div class="survey-link">
            <h1><%= @header %></h1>
            <p><%= @message %></p>
         </div>
      </div>
   </div>
</div>
