<header>
   <div id="header">
      <div class="centered">
         <div class="logospace">
            <div id="logo">
               <a href="/"><img class="logo" src="/img/logo.png" /></a>
            </div>
            <div id="tagline">
               <h1>Super easy surveys for just a buck.</h1>
            </div>
         </div>
         <div id="navigation">
           <%= render :partial => 'layouts/menu' %>
         </div>
      </div>
   </div>
</header>
<div id="main" role="main">
   <div class="centered">
      <div id="complete">
         <h2> Thank you for participating!</h2>
         <div class="survey-link">
            <h3>About Qwk.io</h3>
            <p>Qwk.io is the fastest &amp; easiest way to create and distribute surveys. Creating a survey takes minutes and you can get unlimited responses for just $1. No subscriptions, no rebilling, no hassle.</p>
            <h3><a href="/">Create your own survey!</a></h3>
         </div>
      </div>
   </div>
</div>
