<div id="main" role="main">
   <div class="centered">
      <div id="complete">
         <h2> Thank you for participating!</h2>
         <div class="survey-link">
            <h3>About Qwk.io</h3>
            <p>Qwk.io is the fastest &amp; easiest way to create and distribute surveys. Creating a survey takes minutes and you can get unlimited responses for just $1. No subscriptions, no rebilling, no hassle.</p>
            <h3><a href="/">Create your own survey!</a></h3>
         </div>
      </div>
   </div>
</div>
