<div id="nav-center">
   <ul>
      <li class="nav">
         <a href="/about/">About Qwk.io</a>
      </li>
      <li class="nav">
         <a href="/help/">Help</a>
      </li>
      <li class="nav">
         <a href="/examples/">Examples</a>
      </li>
   </ul>
</div>
